@tailwind base;
@tailwind components;
@tailwind utilities;

.border-animation-left-right-left {
  flex: 1 1 auto;
  border: 3px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: default;
}

.border-animation-left-right-left::before {
  position: absolute;
  content: '';
  width: 0;
  bottom: 0;
  height: 2px;
  background: rgb(55, 65, 81);
  right: 0;
}

.border-animation-left-right-left::after {
  position: absolute;
  content: '';
  width: 0;
  left: 50%;
  top: 0;
  min-height: 2px;
  height: 2px;
  background: rgb(55, 65, 81);
  left: 0;
}

.dark .border-animation-left-right-left::before {
  background: #D1D5DB;
}

.dark .border-animation-left-right-left::after {
  background: #D1D5DB;
}

.border-animation-left-right-left {
  cursor: default;
}

.border-animation-left-right-left.in-view::before {
  transition: 0.5s;
  width: 100%;
  right: 0;
}

.border-animation-left-right-left.in-view::after {
  transition: 0.5s;
  width: 100%;
  left: 0;
}
