@tailwind base;
@tailwind components;
@tailwind utilities;

.border-animation-left-right-left {
  flex: 1 1 auto;
  border: 4px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: default;
}

.border-animation-left-right-left:before {
  position: absolute;
  transition: 0.5s;
  transition-delay: .5s;
  content: '';
  width: 0;
  bottom: 0;
  height: 2px;
  background: rgb(55, 65, 81);
  right: 0;
}

.border-animation-left-right-left:after {
  position: absolute;
  transition: 0.5s;
  content: '';
  width: 0;
  left: 50%;
  top: 0;
  height: 2px;
  background: rgb(55, 65, 81);
  left: 0;
}

.border-animation-left-right-left {
  cursor: default;
}

.border-animation-left-right-left.in-view:before {
  width: 100%;
  right: 0;
}

.border-animation-left-right-left.in-view:after {
  width: 100%;
  left: 0;
}